.navbar-item-custom {
    color: white;
    transition: color 0.3s;
}

.navbar-item-custom:hover {
    color: #FFE08A;
}

.custom-centered {
    display: flex;
    justify-content: center;
}

.with-border {
    border: 15px solid;
    color: #FFE08A;
}

#dose-of-tech:hover {
    color: #ffb6c1
}

#note-taker:hover {
    color: 	#90ee90;
}

#logo-generator:hover {
    color: #b0c4de;
}

#whats-the-weather:hover {
    color: 	#e0ffff;
}

#working-calendar:hover {
    color: 	#20b2aa;
}

/* Problem with opacity and border color turning "off" at slightly different times:

.hover-opacity {
    transition: opacity 0.3s;
}

.hover-opacity:hover {
    opacity: 0.7;
} */

.custom-margin-between {
    margin-top: -150px;
}
