.custom-centered {
    display: flex;
    justify-content: center;
}

.with-border {
    border: 15px solid;
    color: #FFE08A;
}

.hover-opacity {
    transition: opacity 0.3s;
}

.hover-opacity:hover {
    opacity: 0.7;
}

.image {
    position: relative;
}

.app-title {
    position: absolute;
    top: 60%;
    left: 15%;
    transform: translate(-50%, -50%);
    background: #FFE08A;
    color: black;
    padding: 10px;
    border-radius: 4px;
}
