:root {
    --white: #ffffff;
    --purple: #8A2BE2;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Corbel', 'Bahnschrift', Arial, sans-serif;
}

.header {
    padding: 20px;
    background-color: var(--purple);
    color: var(--white);
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    color: var(--white);
    font-size: 36px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header a {
    color: var(--white);
    text-decoration: none;
}

.header a:hover {
    color: #FFD700;
    transition: 1s ease-in;
}

#subtitle {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Bahnschrift', Arial, sans-serif;
    font-size: 24px;
}

body {
    background-color: var(--white); 
}

.content {
    margin-left: 20px;
    font-size: 24px;
    padding: 50px;
} 

.paragraph {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: start;
    width: 95%;
    border: 15px solid var(--purple);
    padding: 50px;
    margin: 20px;
}

/* .paragraph li {
    list-style-type: circle;
} */

#list. {
    display: list-item;
    list-style-type: circle;
}

#scott-picture {
    height: 15%;
    width: 15%;
    float: right;
}

.content ul {
    margin: 20px; 
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.content ul a {
    color: black;
    text-decoration: none;
}

.content ul a:hover {
    color: var(--purple);
    transition: .5s ease-in;
    cursor: pointer;
}